.bloco-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: 20px 20px 10px 20px;
}

.bloco-grid div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloco-grid label {
  margin-right: 10px;
}

.bloco-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.receita-form {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.receita-form table {
  margin-right: 10px;
}

.receita-form td {
  border: gray 2px solid;
}

.receita-form input {
  font-size: 18px;
}

.table-input {
  width: 150px;
  border: none;
}

.nome-item {
  margin-left: 10px;
  border: gray 2px solid;
  width: 190px;
}
