.inner-menu {
  border: 2px gray solid;
  margin: 20px 75px;
}

.inner-menu a{
  display: block;
  border: lightgray 1px solid;
  text-decoration: none;
  color: black;
  margin: 5px;
  text-align: center;
  background: ghostwhite;
  font-weight: 700;
  padding: 3px;
  box-shadow: inset 0px 0px 3px 0px lightgray;
}

.inner-menu a:active {
  box-shadow: inset -2px -2px 3px 1px black;
}

.inner-menu h2 {
  color: red;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}